[Service]

# If the service is behind a reverse proxy that rewrites the service path, that path needs
# to be defined here in order for the OpenAPI documentation to function.
root_path = "{{ DATAVERSE_SERVICE_ROOT_PATH or "" }}"

[Service_Dependencies]

# The URL of a KBase workspace service
kbase_workspace_url = "{{ DATAVERSE_KBASE_WS_URL or "https://kbase.us/services/ws" }}"
